@import '../styles/colors'
.app
 width: 100%;
 height: auto;
 overflow-x: scroll
 background-image: linear-gradient(to top, rgba(0,0,0,0.39), rgba(0,0,0,0.39)), url('../src/img/background1.jpg')
 background-repeat: no-repeat
 background-size: cover
 background-position: center center
 &__header
  display: block;
  width: 100%;
  margin: 0;
  margin-top: 85px;
  color: secondary-text-color;
  font-size: 48px;
  line-height: 52px;
  font-family: Roboto-Medium;
  text-align: center;
