
// Blue-gray / orange palette
primary-color-dark = #455A64
primary-color = #607D8B
primary-color-light = #CFD8DC
primary-color-text = #FFFFFF
accent-color = #FF5722
primary-text-color = #212121
divider-color = #BDBDBD

midgray = #9E9E9E

accent-cyan = #00BCD4
accent-yellow = #FBC02D
accent-orange = #FF5722
accent-red = #FF5252


dark-background = #040d14
dark-accent = #21ce99
dark-warn = #f45531

// BandForge pallete
main-background = #040d14 //Background
green-background = #21ce99 // Primary
warn =  #f45531 // Warn / Danger
tile-background = #373C42 // Panel / Card / Tile Background color
primary-text = #7D7D7D
secondary-text-color = #51CD98
secondary-background = #1f2226 // Background Accent
