@import '../styles/colors'
.navbar
  display: block;
  width: 100%;
  &__toolbar
   padding: 0;
   height: 64px !important;
   min-height: 64px;

  &__title
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 64px;
   margin: 0;
   padding: 0;
   color: secondary-text-color;
   font-size: 21px !important;
   font-family: Roboto-Regular;
   text-align: center;
   letter-spacing: 0px;

  &__btn
    &--burger
     position: absolute;
     left: 26px;
     top: 50%;
     width: 24px !important;
     min-width: 24px !important;
     height: 20px !important;
     min-height: 20px !important;
     padding: 0 !important;
     margin: 0 !important;
     transform: translateY(-50%);

  &__userBlock
   position: absolute; 
   right: 0;
   top: 50%;
   display: flex;
   width: 200px;
   margin-right: 16px;
   transform: translateY(-50%);

  &__link
   width: 100px;
   font-family: Roboto-Medium;
   font-size: 14px;
   color: #21CE99;
   letter-spacing: -0.03px;

@media(max-width: 768px)
  .navbar
    &__icon
     &--burger
      color: secondary-text-color;
