
.showDetails
  width: 86%;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: green-background;

  &__container
   max-width: 1441px;
   min-height: 699px;

   background: #393c42;
   border: 1px solid rgba(150,150,150,0.11);
   box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.20);
   border-radius: 2px;
   overflow: scroll;

  &__header
   width: 100%;
   height: 85px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 30px;
   padding-right: 30px;

  &__title
   width: 32%;
   max-width: 470px;
   height: 85px;
   margin: 0;
   line-height: 85px;

  &__centrBlock
   width: 58%;
   display: flex;
   justify-content: flex-start;
   padding-left: 12px;

  &__switch
   width: 114px;
   height: 34px;

  &__userBlock
   display: flex;
   justify-content: space-between;
   width: 80px;

  &__content
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 34px;

  &__column
   display: flex;
   flex-direction: column;
   &--first
    width: 32%;
    max-width: 470px;

   &--second
    width: 30%;
    max-width: 437px;

   &--third
    width: 33.6%;
    max-width: 483px;

  &__colName
   height: 45px;
   border-bottom: 1px solid #6e7175;
   font-size: 18px;
   &--first
    width: 71%;
    max-width: 333px;
   &--second
    width: 80%;
    max-width: 290px;
   &--third
    width: 89%;
    max-width: 430px;

  &__block
   display: flex;
   flex-direction: column;
   margin-left: 28px;
   &:last-of-type
    margin-left: 28px;

  &__blockTitle
   color: #7d7e80;

  &__description
   color: #ffffff;

  &__bands
   display: flex;
   width: 71%;
   max-width: 339px;
   min-height: 82px;
   padding-top: 18px;
   padding-bottom: 18px;

   border-bottom: 1px solid #6e7175;

  &__list
   width: 88.5%
   min-height: 45px;
   padding: 0;
   margin: 0;
   margin-left: 10px;
   list-style: none;
   background-color: primary-text;

  &__listItem
   height: 45px;
   padding-left: 20px;
   line-height: 45px;
   color: #ffffff;
   &--active
    background-color: green-background

  &__date
   display: flex;
   width: 71%;
   max-width: 339px;
   height: 23px;
   padding-top: 18px;

  &__address
   display: flex;
   width: 80%;
   max-width: 290px;
   height: 110px;
   padding-top: 20px;
   border-bottom: 1px solid #6e7175;

  &__capacity
   display: flex;
   width: 80%;
   max-width: 290px;
   height: 90px;
   padding-top: 27px;
   border-bottom: 1px solid #6e7175;

  &__venueContacts
   display: flex;
   flex-direction: column;
   width: 80%;
   max-width: 290px;
   padding-top: 27px;

  &__venuePhone
   display: flex;
   margin-bottom: 27px;

  &__venueEmail
   display: flex;

  &__promoterDetails
   display: flex;
   flex-direction: column;
   width: 89%;
   max-width: 430px;
   height: 151px;
   padding-top: 25px;
   border-bottom: 1px solid #6e7175;


  &__promoterEmails
   display: flex;
   flex-direction: column;
   width: 89%;
   max-width: 430px;
   height: 151px;
   padding-top: 25px;
   padding-bottom: 25px;
   border-bottom: 1px solid #6e7175;

  &__row
   display: flex;
   &--promoterName
    margin-bottom: 26px;
   &--personalEmail
    margin-bottom: 36px;

  &__icon
   margin: 0;
   &--delete
    font-size: 20px;
   &--send
    font-size: 20px;
   &--list
    width: 35px;
    min-width: 35px;
    font-size: 38px;
   &--date
    margin-right: 21px;

.md-switch .md-switch-container
  width: 114px;
  height: 34px;
  background: #e0e0e0;

.md-switch .md-switch-label
  position: absolute;
